.vscode/c_cpp_properties.json
.vscode/settings.json

Build/game.exe
Build/game.ilk
Build/imgui.ini
Build/Binaries/engine.dll

Compiler/LOGS/profiler.json

Compiler/LIBS/Project/engine.lib

Compiler/OBJ/**/*.obj
Compiler/PDB/*.idb
Compiler/PDB/*.pdb

